@font-face {
    font-family: 'Jetbrains'; /* Choose a descriptive name for your font */
    src: url('JetbrainsMono-Regular.ttf') format('truetype');
    font-weight: normal; /* Define font-weight if applicable (e.g., bold, light) */
    font-style: normal;  /* Define font-style if applicable (e.g., italic) */
    font-display: swap;  /* Optional: Controls how font is displayed while loading */
}